<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=320, target-densitydpi=device-dpi" />
<!--[if gte mso 9]>
<style _tmplitem="275" >
.article-content ol, .article-content ul {
   margin: 0 0 0 24px;
   padding: 0;
   list-style-position: inside;
}
</style>
<![endif]-->
  </head>
  <body style="width: 100% !important; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif; background-color: #ececec; margin: 0; padding: 0;" bgcolor="#ececec">
    <style type="text/css">
h1 a:active { color: red !important; }
h2 a:active { color: red !important; }
h3 a:active { color: red !important; }
h4 a:active { color: red !important; }
h5 a:active { color: red !important; }
h6 a:active { color: red !important; }
h1 a:visited { color: purple !important; }
h2 a:visited { color: purple !important; }
h3 a:visited { color: purple !important; }
h4 a:visited { color: purple !important; }
h5 a:visited { color: purple !important; }
h6 a:visited { color: purple !important; }
.yshortcuts a:visited { color: black !important; text-decoration: none !important; border-bottom: none !important; background: none !important; }
.yshortcuts a:hover { color: black !important; text-decoration: none !important; border-bottom: none !important; background: none !important; }
&gt;</style>
    <table width="100%" cellpadding="0" cellspacing="0" border="0" id="background-table" style="background-color: #ececec;" bgcolor="#ececec">
      <tbody>
        <tr style="border-collapse: collapse;"><td align="center" bgcolor="#ececec" style="border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;">&#13;
            <table class="w640" style="width: 640px !important; margin: 0 10px;" width="640" cellpadding="0" cellspacing="0" border="0"><tbody><tr style="border-collapse: collapse;"><td class="w640" width="640" height="20" style="width: 640px !important; border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;"></td></tr><tr style="border-collapse: collapse;"><td class="w640" width="640" style="width: 640px !important; border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;">&#13;
                        <table id="top-bar" class="w640" width="640" cellpadding="0" cellspacing="0" border="0" bgcolor="#4497cb" style="width: 640px !important; border-radius: 6px 6px 0px 0px; -moz-border-radius: 6px 6px 0px 0px; -webkit-border-radius: 6px 6px 0px 0px; -webkit-font-smoothing: antialiased; color: #FFFFFF; background-color: #307cac;"><tbody><tr style="border-collapse: collapse;"><td class="w15" width="15" style="width: 5px !important; border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;"></td>&#13;
        <td class="w325" width="350" valign="middle" align="left" style="width: 95px !important; border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;">&#13;
            <table class="w325" width="350" cellpadding="0" cellspacing="0" border="0" style="width: 95px !important;"><tbody><tr style="border-collapse: collapse;"><td class="w325" width="350" height="8" style="width: 95px !important; border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;"></td></tr></tbody></table><table class="w325" width="350" cellpadding="0" cellspacing="0" border="0" style="width: 95px !important;"><tbody><tr style="border-collapse: collapse;"><td class="w325" width="350" height="8" style="width: 95px !important; border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;"></td></tr></tbody></table></td>&#13;
        <td class="w30" width="30" style="width: 10px !important; border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;"></td>&#13;
        <td class="w255" width="255" valign="middle" align="right" style="width: 185px !important; border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;">&#13;
            <table class="w255" width="255" cellpadding="0" cellspacing="0" border="0" style="width: 185px !important;"><tbody><tr style="border-collapse: collapse;"><td class="w255" width="255" height="8" style="width: 185px !important; border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;"></td></tr></tbody></table><table cellpadding="0" cellspacing="0" border="0"><tbody><tr style="border-collapse: collapse;"><td valign="middle" style="border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;"><fblike likeurl="https://www.facebook.com/KudzuWellness"><img src="https://img.createsend1.com/img/templatebuilder/like-glyph.png" border="0" width="8" height="14" alt="Facebook icon" style="height: auto; line-height: 100%; outline: none; text-decoration: none; display: block;" /></fblike></td>&#13;
        <td width="3" style="border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;"></td>&#13;
        <td valign="middle" style="border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;"><div class="header-content" style="-webkit-text-size-adjust: 80% !important; -ms-text-size-adjust: 80% !important; font-size: 12px; color: #FFFFFF;"><a href="https://www.facebook.com/KudzuWellness" target="_blank" style="font-weight: bold; color: #FFFFFF; text-decoration: none;"><fblike likeurl="https://www.facebook.com/KudzuWellness">Like</fblike></a></div></td>&#13;
        &#13;
        &#13;
        <td class="w10" width="10" style="width: 10px !important; border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;"></td>&#13;
        <td valign="middle" style="border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;"><tweet><img src="https://img.createsend1.com/img/templatebuilder/tweet-glyph.png" border="0" width="17" height="13" alt="Twitter icon" style="height: auto; line-height: 100%; outline: none; text-decoration: none; display: block;" /></tweet></td>&#13;
        <td width="3" style="border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;"></td>&#13;
        <td valign="middle" style="border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;"><div class="header-content" style="-webkit-text-size-adjust: 80% !important; -ms-text-size-adjust: 80% !important; font-size: 12px; color: #FFFFFF;"><a href="https://twitter.com/kudzuwellness" target="_blank" style="font-weight: bold; color: #FFFFFF; text-decoration: none;"><tweet>Tweet</tweet></a></div></td>&#13;
        &#13;
        &#13;
    </tr></tbody></table><table class="w255" width="255" cellpadding="0" cellspacing="0" border="0" style="width: 185px !important;"><tbody><tr style="border-collapse: collapse;"><td class="w255" width="255" height="8" style="width: 185px !important; border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;"></td></tr></tbody></table></td>&#13;
        <td class="w15" width="15" style="width: 5px !important; border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;"></td>&#13;
    </tr></tbody></table></td>&#13;
                </tr><tr style="border-collapse: collapse;"><td id="header" class="w640" width="640" align="center" bgcolor="#4497cb" style="width: 640px !important; border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;">&#13;
    &#13;
    <table class="w640" width="640" cellpadding="0" cellspacing="0" border="0" style="width: 640px !important;"><tbody><tr style="border-collapse: collapse;"><td class="w30" width="30" style="width: 10px !important; border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;"></td><td class="w580" width="580" height="30" style="width: 280px !important; border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;"></td><td class="w30" width="30" style="width: 10px !important; border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;"></td></tr><tr style="border-collapse: collapse;"><td class="w30" width="30" style="width: 10px !important; border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;"></td>&#13;
            <td class="w580" width="580" style="width: 280px !important; border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;">&#13;
                <div align="center" id="headline">&#13;
                    <p style="font-size: 30px !important; color: #ffFFFF; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif; text-align: center; margin-top: 0px; margin-bottom: 30px;" align="center">&#13;
                        <strong><a href="http://www.growwell.com/login" style="color: #ffFFFF; text-decoration: none;"><singleline label="Title">Kudzu Wellness Inc </singleline></a></strong>&#13;
                    </p>&#13;
                </div>&#13;
            </td>&#13;
            <td class="w30" width="30" style="width: 10px !important; border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;"></td>&#13;
        </tr></tbody></table></td>&#13;
                </tr><tr style="border-collapse: collapse;"><td class="w640" width="640" height="30" bgcolor="#ffffff" style="width: 640px !important; border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;"></td></tr><tr id="simple-content-row" style="border-collapse: collapse;"><td class="w640" width="640" bgcolor="#ffffff" style="width: 640px !important; border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;">&#13;
    <table class="w640" width="640" cellpadding="0" cellspacing="0" border="0" style="width: 640px !important;"><tbody><tr style="border-collapse: collapse;"><td class="w30" width="30" style="width: 10px !important; border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;"></td>&#13;
            <td class="w580" width="580" style="width: 280px !important; border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;">&#13;
                <repeater><layout label="Text only"><table class="w580" width="580" cellpadding="0" cellspacing="0" border="0" style="width: 580px !important;"><tbody><tr style="border-collapse: collapse;"><td class="w580" width="580" style="width: 280px !important; border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;">&#13;
                                    <p align="left" class="article-title" style="font-size: 18px; line-height: 24px; color: #000000; font-weight: bold; margin-top: 0px; margin-bottom: 18px; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;"><singleline label="Title">User ${userID} sends a request to redeem points</singleline></p>&#13;
                                    <div align="left" class="article-content" style="-webkit-text-size-adjust: 90% !important; -ms-text-size-adjust: 90% !important; font-size: 13px; line-height: 18px; color: #444444; margin-top: 0px; margin-bottom: 18px; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;">&#13;
                                        <multiline label="Description">Transaction ID : ${transactionID}<br>Request Date: ${requestDate}<br style="line-height: 100%;" /></multiline><multiline label="Description"></multiline></div>&#13;
                                </td>&#13;
                            </tr><tr style="border-collapse: collapse;"><td class="w580" width="580" height="10" style="width: 280px !important; border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;"></td></tr></tbody></table></layout></repeater></td>&#13;
            <td class="w30" width="30" style="width: 10px !important; border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;"></td>&#13;
        </tr></tbody></table></td></tr><tr style="border-collapse: collapse;"><td class="w640" width="640" height="15" bgcolor="#ffffff" style="width: 640px !important; border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;"></td></tr><tr style="border-collapse: collapse;"><td class="w640" width="640" style="width: 640px !important; border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;">&#13;
    <table id="footer" class="w640" width="640" cellpadding="0" cellspacing="0" border="0" bgcolor="#307CAC" style="width: 640px !important; border-radius: 0px 0px 6px 6px; -moz-border-radius: 0px 0px 6px 6px; -webkit-border-radius: 0px 0px 6px 6px; -webkit-font-smoothing: antialiased; color: #e2e2e2; background-color: #307CAC;"><tbody><tr style="border-collapse: collapse;"><td class="w30" width="30" style="width: 10px !important; border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;"></td><td class="w580 h0" width="360" height="30" style="border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;"></td><td class="w0" width="60" style="width: 0 !important; border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;"></td><td class="w0" width="160" style="width: 0 !important; border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;"></td><td class="w30" width="30" style="width: 10px !important; border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;"></td></tr><tr style="border-collapse: collapse;"><td class="w30" width="30" style="width: 10px !important; border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;"></td>&#13;
            <td class="w580" width="360" valign="top" style="width: 280px !important; border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;">&#13;
            <span class="hide" style="display: none !important;"><p id="permission-reminder" align="left" class="footer-content-left" style="text-align: center !important; -webkit-text-size-adjust: 80% !important; -ms-text-size-adjust: 80% !important; font-size: 12px; line-height: 15px; color: #e2e2e2; margin-top: 0px; margin-bottom: 15px; white-space: normal;"></p></span>&#13;
            </td>&#13;
            <td class="hide w0" width="60" style="display: none !important; border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;"></td>&#13;
            <td class="hide w0" width="160" valign="top" style="display: none !important; border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;">&#13;
            <p id="street-address" align="right" class="footer-content-right" style="-webkit-text-size-adjust: none; -ms-text-size-adjust: none; font-size: 11px; line-height: 16px; color: #FFFFFF; margin-top: 0px; margin-bottom: 15px; white-space: normal;"><span>3824 North Elm Street Greensboro NC</span><br style="line-height: 100%;" /><span></span></p>&#13;
            </td>&#13;
            <td class="w30" width="30" style="width: 10px !important; border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;"></td>&#13;
        </tr><tr style="border-collapse: collapse;"><td class="w30" width="30" style="width: 10px !important; border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;"></td><td class="w580 h0" width="360" height="15" style="border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;"></td><td class="w0" width="60" style="width: 0 !important; border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;"></td><td class="w0" width="160" style="width: 0 !important; border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;"></td><td class="w30" width="30" style="width: 10px !important; border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;"></td></tr></tbody></table></td>&#13;
                </tr><tr style="border-collapse: collapse;"><td class="w640" width="640" height="60" style="width: 640px !important; border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;"></td></tr></tbody></table></td>&#13;
    </tr>
      </tbody>
    </table>
  </body>
</html>